<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MostafaAbedi01</title>
</head>
@Html.Partial("header")
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("صفحه اصلی", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("کامپوننت", "Components", "Home")</li>
                <li>@Html.ActionLink("اعتبار سنجی", "Validation", "Home")</li>
                <li>@Html.ActionLink("اعداد", "Numbers", "Home")</li>
                <li>@Html.ActionLink("گرید و جدول", "Grid", "Home")</li>
                <li>@Html.ActionLink("ویرایشگر متن", "Editor", "Home")</li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">

  
    <section>
        <div class="container ">
            @RenderBody()
            @*<div class="wrapper">
            <div class="contact">

            </div>
        </div>*@
        </div>
    </section>


    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My Sample Code MostafaAbedi01</p>
    </footer>
</div>

<script src="/Scripts/bootstrap.min.js"></script>
<script src="/Scripts/jquery.flexslider-min.js"></script>
<script src="/Scripts/jquery.fancybox.pack.js"></script>
<script src="/Scripts/jquery.waypoints.min.js"></script>
<script src="/Scripts/retina.min.js"></script>
<script src="/Scripts/modernizr.js"></script>
<script src="/Scripts/main.js"></script>
</body>
</html>