@using CommonLibrary
@using CommonLibrary.Web.Mvc
@using IranSoftjo.Core.Web.Mvc
@using IranSoftjo.Core.Web.Mvc.Html
@using Kendo.Mvc.UI
@model  CustomComponentKendo.Models.BookingVm
@{
    ViewBag.Title = "صفحه اول";
}


<section>
    <div class="container ">
        <div class="wrapper">
            <div class="contact">
                
                @using (Html.BeginForm("Components", "Home", FormMethod.Post, new {role = "form"}))
                {
                <table class="form">
                    <tr>
                        <td class="labelWrp"></td>
                        <td class="inputWrp" colspan="1">
                            <h3 style="border-bottom: 1px solid black; padding-bottom: 5px">
                                کامپوننت ها
                            </h3>
                        </td>
                    </tr>

                    @Html.EnhancedEditorField(model => model.FlightNmber)
                    @Html.EnhancedEditorField(model => model.FlightDate)
                    @Html.EnhancedEditorField(model => model.FlightTime)
                    @Html.EnhancedTextAreaField(model => model.Discription)
                    @Html.EnhancedCheckBoxField(model => model.IsVilcher, note: " 800000".NumericalMoney())
                    @Html.EnhancedDropDownList(model => model.Jensiat, "Jensiat", "1")

                    <td class="labelWrp">
                        <label >@Html.LabelFor(model => model.ImageUrl)</label>
                    </td>
                    <td  class="inputWrp">
                        @Html.Kendo().Upload().Name("file").Multiple(false).Async(async => async.Save("SaveFile", "Home"))
                        @if (Model.ImageUrl != "")
                        {
                            <br>
                            <span></span>
                            <img src="@Model.ImageUrl" />
                        }
                    </td>


                </table>
                }

            </div>
        </div>
    </div>
</section>