@using CommonLibrary
@using IranSoftjo.Core.Web.Mvc.Html
@model  CustomComponentKendo.Models.BookingVm
@{
    ViewBag.Title = "صفحه اول";
    var price = "151200";
}


@*<link href="~/Scripts/IntroJs/introjs-milad.css" rel="stylesheet" />*@
<link href="@Url.Content("~/Content/kendo/2014.3/kendo.common.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/kendo/2014.3/kendo.rtl.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/kendo/2014.3/kendo.default.min.css")" rel="stylesheet" type="text/css" />

<link href="~/Content/Site.css" rel="stylesheet" />
<script src="/PackageAdmin/global/plugins/jquery.min.js" type="text/javascript"></script>


<link href="/PackageAdmin/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="/PackageAdmin/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="/PackageAdmin/global/plugins/bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css" />
<link href="/PackageAdmin/global/plugins/bootstrap-switch/css/bootstrap-switch-rtl.min.css" rel="stylesheet" type="text/css" />

<link href="/PackageAdmin/Custom.css" rel="stylesheet" />

<script src="/PackageAdmin/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/PackageAdmin/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="/PackageAdmin/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/PackageAdmin/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/PackageAdmin/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/PackageAdmin/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/PackageAdmin/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/PackageAdmin/global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="/PackageAdmin/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
<script src="/PackageAdmin/global/plugins/morris/morris.min.js" type="text/javascript"></script>
<script src="/PackageAdmin/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
<script src="/PackageAdmin/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="/PackageAdmin/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="/PackageAdmin/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="/PackageAdmin/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
<script src="/PackageAdmin/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
<script src="/PackageAdmin/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/ShamsiDatePicker/kendo.all.min.js")"></script>
<script src="/Scripts/kendo/kendo.aspnetmvc.min.js"></script>

<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="/PackageAdmin/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/PackageAdmin/pages/scripts/dashboard.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="/PackageAdmin/layouts/layout2/scripts/layout.min.js" type="text/javascript"></script>
<script src="/PackageAdmin/layouts/layout2/scripts/demo.min.js" type="text/javascript"></script>
<script src="/PackageAdmin/layouts/global/scripts/quick-sidebar.js" type="text/javascript"></script>

<section>
    <div class="container PTB40">

        <h1 class="brand">
            <span>کلیه خدمات تشریفات فرودگاهی</span>
        </h1>

        <div class="wrapper">
            <div class="company-info company-info-vip">
                <h3 style="color: #fff">کلیه خدمات تشریفات فرودگاهی</h3>

            </div>
            <div class="contact">
                <p>
                     قیمت به عدد فارسی : @price.NumericalMoney()
                </p>
                <p>
                    قیمت به حروف : @price.AlphabeticalMoney()
                </p>
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { role = "form" }))
                {
                    <table class="form">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <tr>
                            <td class="labelWrp"></td>
                            <td class="inputWrp" colspan="1">

                                <h3 style="border-bottom: 1px solid black; padding-bottom: 5px">
                                    اطلاعات پرواز
                                </h3>
                            </td>
                        </tr>
                        @Html.EnhancedEditorField(model => model.FlightNmber)
                        @Html.EnhancedEditorField(model => model.FlightDate)
                        @Html.EnhancedEditorField(model => model.FlightTime)


                        @*@Html.EnhancedRadioButtonListField(model => model.Type, (IEnumerable<SelectListItem>)ViewBag.Type)*@

                        @*@Html.EnhancedDropDownList(model => model.Destination, "Destination", "1")*@


                        <tr>
                            <td class="labelWrp"></td>
                            <td class="inputWrp" colspan="1">

                                <h3 style="border-bottom: 1px solid black; padding-bottom: 5px">
                                    مشخصات مسافرین
                                </h3>
                            </td>
                        </tr>

                        @*@Html.EnhancedDropDownList(model => model.Jensiat, "Jensiat", "1")*@
                        @Html.EnhancedEditorField(model => model.FirstName)
                        @Html.EnhancedEditorField(model => model.Email)
                        @Html.EnhancedEditorField(model => model.Password)
                        @Html.EnhancedEditorField(model => model.Mobile)
                        @Html.EnhancedEditorField(model => model.NationalCode)



                        @Html.EnhancedCheckBoxField(model => model.IsVilcher, note: " 800000".NumericalMoney())
                        @Html.EnhancedCheckBoxField(model => model.IsHivanat, note: " 1200000".NumericalMoney())

                        @Html.EnhancedTextAreaField(model => model.Discription)
                        @Html.EnhancedSubmit("ایجاد")
                    </table>
                }


                <!-- End #contact-form -->
            </div>
            <!-- End .contact -->

        </div>
        <!-- End .wrapper -->
    </div>
    <!-- End .container -->
</section>