@using CommonLibrary
@using CommonLibrary.Web.Mvc
@using IranSoftjo.Core.Web.Mvc
@using IranSoftjo.Core.Web.Mvc.Html
@model  CustomComponentKendo.Models.BookingVm
@{
    ViewBag.Title = "صفحه اول";
    var price = "151200";
    int Money = 178240;
}


<section>
    <div class="container ">
        <div class="wrapper">
            <div class="contact">
                <h3 style="border-bottom: 1px solid black; padding-bottom: 5px">
                    رشته
                </h3>
                <p>
                    قیمت به عدد فارسی : @price.NumericalMoney()
                </p>
                <p>
                    قیمت به حروف : @price.AlphabeticalMoney()
                </p>
                <p>
                    اعداد فارسی : @price.LocalizeNumbers()
                </p>
                <h3 style="border-bottom: 1px solid black; padding-bottom: 5px">
                    عدد
                </h3>
                <p>
                    @Money.AlphabeticalNumericalToman()
                </p>
                <p>
                    @Money.HtmlBriefToman()
                </p>
                <p>
                    @Money.NumericalToman()
                </p>
                <p>
                    @Money.AlphabeticalToman()
                </p>


            </div>
        </div>
    </div>
</section>